/*============ Google fonts ============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*======= CSS variables =======*/
:root{
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;

  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);

  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
}



/*======= Main CSS =======*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  transition: all .2s linear;
}

html {
  
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body{
  background: var(--body-bg-color);
}

section{
  position: relative;
}

.section{
  color: var(--white-color);
  background: var(--section-bg-color);
  padding: 35px 200px;
  transition: 0.3s ease;
}

/*======= Header =======*/
header{
  z-index: 999;
  position: fixed;
  width: 100%;
  height: calc(5rem + 1rem);
  top: 0;
  left: 0;
  right: ;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background;
  padding: 2rem 9%;
}



header .nav-bar{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  position: relative;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 160px;
  padding-right: 160px;
  transition: 0.3s ease;
  border-radius: 10px;

}

/*---MEDIA-btn--*/


 


.nav-bar .logo{
  color: var(--dark-color);
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-shadow: var(--text-shadow);
  margin-left: -150px;

}

.navigation .nav-items a{
  color: var(--dark-color);
  font-size: 1.2em;
  font-weight: bolder;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}


.navigation #user{
  font-size: 14px;
  color: var(--dark-color);
  padding-right: 2px;
  padding-left: 2px;
}

.navigation #icon-user{
  font-size: 18px;padding-left: 80px;
}

.navigation input{
  color: var(--white-color);
  background-color: var(--dark-color);
  border-radius: 10px;
  width: 100px;
  height: 30px;
}

.navigation .nav-items a:not(:last-child){
  margin-right: 30px;
} 





/*======= Home =======*/
.home{
  min-height: 100vh;
}

.home:before{
  z-index: 888;
  content: '';
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--section-bg-color));
}

/*======= Background slider =======*/
.bg-slider{
  z-index: 777;
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.bg-slider .swiper-slide{
  position: relative;
  width: 100%;
  height: 100vh;
}

.bg-slider .swiper-slide img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.swiper-slide .text-content{
  position: absolute;
  top: 25%;
  color: var(--white-color);
  margin: 0 200px;
  transition: 0.3s ease;
}

.swiper-slide .text-content .title{
  font-size: 4em;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
}

.swiper-slide-active .text-content .title{
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .title span{
  font-size: 0.3em;
  font-weight: 300;
}

.swiper-slide .text-content p{
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  transform: translateX(-80px);
  opacity: 0;
}

.swiper-slide-active .text-content p{
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide-active .text-content a{
  text-decoration: none;
}

.swiper-slide .text-content .read-btn{
  border: none;
  outline: none;
  background: var(--white-color);
  color: var(--dark-color);
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(50px);
  opacity: 0;
}

.swiper-slide-active .text-content .read-btn{
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i{
  font-size: 1.6em;
  transition: 0.3s ease;
}

.swiper-slide .text-content .read-btn:hover i{
  transform: translateX(5px);
}

.dark-layer:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}

.bg-slider-thumbs{
  z-index: 999;
  position: absolute;
  bottom: 7em;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s ease;
  width: 300px;
}

.thumbs-container{
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 3px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}

.thumbs-container img{
  width: 50px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-slide-thumb-active{
  border: 1px solid var(--white-color);
}

/*======= Media icons =======*/
.media-icons{
  z-index: 999;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 90px;
}

.media-icons a{
  color: var(--white-color);
  font-size: 1.7em;
  margin: 10px 0;
}

/*======= About section =======*/

.name h1{
  text-align: center;
  font-size: 34px;
  padding-top: 0px;
  margin-bottom: -50px;
}

.about .image img{
  float: left;
  padding: 30px 30px 50px 0;
  width: 500px;
  height: 450px;
}

.about .image img:hover{
   -webkit-transform: scale(1.1,1,1);
          transform: scale(1.1);
}

.about .image{
  margin-left: 50px;
}

.about-content{
  display: flex;
}

.about .content h3 {
  margin-top: 80px;
  font-size: 30px;
  color: #219150;
}

.about .content p {
  font-size: 18px;
  color: #10221b;
  padding: 1rem 0;
  line-height: 2;
  text-align: justify;
  padding-right: 20px;
}

.about-content a{
  text-decoration: none;
}


/* tour section */
/*
.nav-bar .nav{
  display: flex;

  font-weight: 600;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  text-align: center;
  position: absolute;
  margin-top: 150px;
  padding-left: 50px;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50% );
}

.nav ul li:hover{
  background-color: blue;
}

.nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  color: var(--dark-color);
  width: 150px;
  font-weight: 700;
  font-size: 18px;
}

.dropdown{
  position: absolute;
  top:100%;
  left: 0;
  width: 150px;
  padding: 0;
}

.dropdown li{
  background: #313131;
  display: none;
}

.dropdown li:hover{
  background: #ff553b;
}

.nav li:hover > .dropdown{
  perspective: 1000px;
}

.nav li:hover > .dropdown li{
  transform-origin: top center;
  opacity: 0;
  display: block;
}


.nav li:hover > .dropdown li:nth-child(1){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: -150ms;
}

.nav li:hover > .dropdown li:nth-child(2){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 0ms;
}
.nav li:hover > .dropdown li:nth-child(3){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 150ms;
}
.nav li:hover > .dropdown li:nth-child(4){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 300ms;
}
.nav li:hover > .dropdown li:nth-child(5){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 450ms;
}
.nav li:hover > .dropdown li:nth-child(6){
  animation: animate 300ms ease-in-out forwards;
  animation-delay: 600ms;
}

@keyframes animate{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
   70%{
    transform: translateX(20px);
  }
   100%{
    opacity: 1;
    transform: translateX(0px);
  }
}
*/


.package-content{
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px,auto));
  grid-gap: 2rem;
  margin-top: 5rem;
  margin-right: 50px;
  margin-left: 50px;
}

.box .thum{
  transition: all .3s cubic-bezier(.445,.05,.55,.95);
  will-change: filter;
  cursor: pointer;

} 

.box .thum img{
  width: 450PX;
  height: 300PX;
  border-radius: 10px;
}

.box .thum img:hover{
  -webkit-transform: scale(1.1,1,1);
          transform: scale(1.1);
}

.box .thum h3{
  position: absolute;
  font-size: 40px;
  font-weight: 600;  
  color: var(--white-color);
  left: 50px;
  top: 200px;
  
}
  

.box .thum p{
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  
  padding-left: 130px: ;
  color: var(--white-color);
  top: 250px;
  left: 50px;
}

/*danh sach tour*/


.package-content-tour{
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(200px,auto));
  grid-gap: 2rem;
  margin-top: 4rem;
  margin-right: 100px;
  margin-left: 200px;
}

.box-tour{
  background-color: var(--white-color);
  border-radius: 10px;
}

.box-tour .thum{
  transition: all .3s cubic-bezier(.445,.05,.55,.95);
  will-change: filter;
  cursor: pointer;

} 

.box-tour .thum img{
  width: 350px;
  height: 350px;
}

.box-tour .thum img:hover{
  -webkit-transform: scale(1.1,1,1);
          transform: scale(1.1);
}


.box-tour .thum .content-tour h3,p{
  color: var(--dark-color);
  padding-left: 30px;
  font-size: 18px;
  left: 60px;
}

.box-tour .thum .content-tour h3{
  font-size: 24px;
  font-weight: 600;  
  left: 50px;
  top: 360px;
  }
  

.box-tour .thum .content-tour #time{
  font-weight: 400;
  top: 400px;
}

.box-tour .thum .content-tour #rank{
  font-weight: 400;
  top: 430px;
}

.box-tour .thum .content-tour #rank img{
  width: 20px;
  height: 20px;

}

.box-tour .thum .content-tour #price{
font-weight: 500;
font-size: 24px;
top: 460px;
left: 40px;
}

.box-tour .thum .content-tour #price img{
  width: 35px;
  height: 40px;
  top: 5px;

}

/*==Tour price===*/


 










/*===Blog===*/

.name-blog h1{
  text-align: center;
  font-size: 34px;
  padding-top: 80px;
  margin-bottom: 30px;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
  
  margin-left: 170px;
}

.blogs .box-container .box {
  border: 1px solid var(--dark-color);
  border-radius: 1rem;
  overflow: hidden;
  width: 500px;
  height: 200px;
  margin-bottom: 20px;
  padding-left: 20px;
  display: flex;
}

.blogs .box-container .box:hover img {
  -webkit-transform: scale(1.1,1,1);
          transform: scale(1.1);
}

.blogs .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;

}

.blogs .box-container .box .image img {
  height: 170px;
  width: 200px;
  padding-top: 20px;
  padding-right: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .box-container .box .content {
  padding: 10px;
  text-align: left;
  float: left;

}

.blogs .box-container .box .content h3 {
  font-size: 22px;
  color: var(--dark-color);
}

.blogs .box-container .box .content p {
  padding: 5px;
  font-size: 16px ;
  color: var(--dark-color);
  line-height: 2;
}

.blogs .box-container .box .content a {
  font-size: 15px;
  color: #29d9d5;
  padding-bottom: 10px;
}

.blogs .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.blogs .box-container .box .content a i {
  padding-right: .5rem;
}

.blogs a{
  text-decoration: none;
}


.blogs .read-blog a{
  text-align: center;
  top:10px;
  bottom: 50px;
}




















/*======= Footer =======*/
#contact{
  background-image: url("../IMG/tour-3.jpeg");
  padding-left: 70px;
}
.main{
  display: flex;
  flex-wrap: wrap;
}
.footer{
  padding: 20px 0;
}
.list{
  width: 25%;
}
.list .logo{
  color: var(--white-color);
  font-size: 38px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 500px;
 
}
.list h4{
  font-size: 24px;
  color: var(--white-color);
  margin-bottom: 30px;
  position: relative;
}

.list ul li:not(last-child) {
  margin-bottom: 16px;
}
.list ul li a{
  color: var(--white-color);
  font-size: 1.1rem;
  display: block;
  transition: .3s;
  text-decoration: none;
}
.list ul li a:hover{
  color: var(--dark-color);
  transform: translateX(14px);
}
.list .social a{
  height: 40px;
  width: 40px;
  background: white;
  color: blue;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 15px;
  transition: .3s;
  margin-right: 10px;
}
.list .social a:hover{
  transform: scale(1.1);
}
.end-text{
  text-align: center;
  padding-top: 90px;
}
.end-text p{
  color: var(--white-color);
  font-size: 14px;
  letter-spacing: 2px;
}

/*======= Media queries (max-width: 1100px) =======*/
@media screen and (max-width: 1100px){
  header .nav-bar{
    padding: 0 50px;
  }

  .section{
    padding: 25px 50px;
  }

  .user{
    transform: translateY(-200px);
  }

  .media-icons{
    right: 0;
    margin-right: 50px;
  }

  .swiper-slide .text-content{
    margin: 0 120px 0 50px;
  }

  .bg-slider-thumbs{
    bottom: 3em;
  }
}

/*======= Media queries (max-width: 785px) =======*/
@media screen and (max-width: 785px){
  header .nav-bar{
    padding: 20px 20px 20px 100px;
  }

  .section{
    padding: 22px 20px;
  }

  .media-icons{
    margin-right: 20px;
  }

  .media-icons a{
    font-size: 1.5em;
  }

  .swiper-slide .text-content{
    margin: 0 70px 0 20px;
  }

  .swiper-slide .text-content .title{
    font-size: 3em;
  }

  .swiper-slide .text-content .title span{
    font-size: 0.35em;
  }

  .swiper-slide .text-content p{
    font-size: 0.9em;
  }

  /*======= Navigation menu =======*/
  .nav-menu-btn{
    display: block;
    color: var(--white-color);
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-close-btn{
    display: block;
    color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .navigation{
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  .navigation.active{
    visibility: visible;
    opacity: 1;
  }

  .navigation .nav-items{
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }

  .navigation.active .nav-items{
    transform: translateY(0);
  }

  .navigation .nav-items a{
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }

  .navigation .nav-items a:hover{
    color: var(--navigation-item-hover-color);
  }

  .navigation .nav-items > a > i{
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }

  .swiper-slide .text-content .read-btn{
    font-size: 0.9em;
    padding: 5px 15px;
  }

  /*======= About section =======*/
  .about h2{
    font-size: 2.5em;
  }

  .about p{
    font-size: 0.9em;
  }
  .about .content{
    display: none;
    float: none;
  }
  .about .image img{
    float: none;
    padding-top: 60px;
    width: 500px;
    height: 450px;
    padding-left: 20px;
    padding-right: -800px;
    opacity: 1;
  }
  /*===tours==*/

.package-content{
  display: block;
}


/*===blog==*/

.box-container .box{
  margin: 0 0 0 150px;
}
}
      

